config RT3090
	tristate "Ralink 3090 wireless support"
	depends on BROKEN
	depends on PCI && X86 && WLAN
	select CRC_CCITT
	select FW_LOADER
	---help---
	  This is an experimental driver for the Ralink 3090 wireless chip.
